<!doctype html>
<html lang="ko">
    <head>
        <% include ./header.ejs %>
    </head>
    <body>
        <div id="wrap">
            <div class="inner">
                <table class="board">
                    <caption></caption>
                    <colgroup>
                        <col width="10%">
                        <col width="60%" colspan="6">
                        <col width="10%">
                        <col width="10%">
                    </colgroup>
                    <tr>
                        <th scope="col">번호</th>
                        <th scope="col">제목</th>
                        <th scope="col">글쓴이</th>
                        <th scope="col">날짜</th>
                        <th scope="col">조회수</th>
                    </tr>
                    <% for( var i= result.length; i>0; i--){ %>
                        <tr>
                            <td class="num"><%= i %></td>
                            <td><a href="view?num=<%= i-1 %>"><%= result[i-1]["title"] %></a></td>
                            <td><%= result[i-1]["author"] %></td>
                            <td><%= result[i-1]["date"] %></td>
                            <td>0</td>
                        </tr>
                    <% } %> 
                        
                </table>
            </div>
        </div>
    </body>
</html>